{% load i18n django_bootstrap5 %}
<form method="post" action="">
    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title">{% trans 'Backup directory' %}</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        {% bootstrap_form form %}
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary submit-btn" type="submit" data-bs-dismiss="modal">
            {% trans 'Backup' %}
        </button>
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
            {% trans 'Cancel' %}
        </button>
    </div>

</form>
