{% extends 'base.html' %}
{% load i18n static bootstrap4 django_bootstrap_breadcrumbs %}

{% block bootstrap4_extra_head %}
{{ block.super }}
{% endblock %}

{% block bootstrap4_extra_script %}
{{ block.super }}
{% endblock %}

{% block title %}{% trans 'Repositories' %}{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="panel">
            <table id="accounts" class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Path' %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for repo in repository_list %}
                    <tr>
                        <td>{{ repo.name }}</td>
                        <td>{{ repo.path }}</td>
                        <th>
                            <a class="btn btn-sm btn-primary" href="{% url 'repository:snapshots' repo.id %}" role="button">
                                Snapshots
                            </a>
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
