{% extends 'base.html' %}
{% load i18n static bootstrap4 django_bootstrap_breadcrumbs %}

{% block bootstrap4_extra_head %}
{{ block.super }}
{% endblock %}

{% block bootstrap4_extra_script %}
{{ block.super }}
{% endblock %}

{% block title %}
    {% if object.id %}
        {% trans 'Change repository' %}
    {% else %}
        {% trans 'Create repository' %}
    {% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button class="btn btn-primary" name="submit" type="submit" formnovalidate>
                    <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                    </svg>
                </button>
                <a href="{% url 'repository:list' %}" class="btn btn-secondary">
                    <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </a>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}
