{% extends 'base.html' %}
{% load i18n static bootstrap4 django_bootstrap_breadcrumbs %}

{% block bootstrap4_extra_head %}
{{ block.super }}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="{% static 'repository/css/repolist.css' %}">
{% endblock %}

{% block bootstrap4_extra_script %}
{{ block.super }}
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table-locale-all.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/mobile/bootstrap-table-mobile.min.js"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script>
$(document).ready(function() {
    $(".newbackup").each(function() {
        $(this).modalForm({
            formURL: $(this).data('url'),
            modalID: "#backupModal"
        });
    });
});
</script>
{% endblock %}

{% block title %}{% trans 'Repositories' %}{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
{% endblock %}

{% block content %}
<div class="modal fade" tabindex="-1" role="dialog" id="backupModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="row diskusage">
    <div class="col-md-2 col-12">
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-hdd" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M14 9H2a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1zM2 8a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1a2 2 0 0 0-2-2H2z"/>
          <path d="M5 10.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-2 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
          <path fill-rule="evenodd" d="M4.094 4a.5.5 0 0 0-.44.26l-2.47 4.532A1.5 1.5 0 0 0 1 9.51v.99H0v-.99c0-.418.105-.83.305-1.197l2.472-4.531A1.5 1.5 0 0 1 4.094 3h7.812a1.5 1.5 0 0 1 1.317.782l2.472 4.53c.2.368.305.78.305 1.198v.99h-1v-.99a1.5 1.5 0 0 0-.183-.718L12.345 4.26a.5.5 0 0 0-.439-.26H4.094z"/>
        </svg>
        {{ total }}
    </div>
    <div class="col-md-10 col-12">
        <div class="progress">
            <div class="progress-bar used {{ bar_class }}" role="progressbar" style="width: {{ ratio }}%;"
                 aria-valuenow="{{ ratio }}" aria-valuemin="0" aria-valuemax="100" title="{% trans 'Used: ' %}">
                {{ used }}
            </div>
            <div class="progress-bar free" role="progressbar" style="width: {{ freeratio }}%;"
                 aria-valuenow="{{ freeratio }}" aria-valuemin="0" aria-valuemax="100" title="{% trans 'Free: ' %}">
                {{ free }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="panel">
            <table id="accounts" data-toggle="table" class="table table-striped table-bordered"
                    data-locale="de-DE" data-mobile-responsive="true" data-min-width="768">
                <thead>
                    <tr>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Path' %}</th>
                        <th>{% trans 'Size' %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for repo in repository_list %}
                    <tr>
                        <td>
                            <a class="tool" href="{% url 'repository:snapshots' repo.id %}" title="{% trans 'Snapshots' %}">
                                {{ repo.name }}
                            </a>
                        </td>
                        <td>{{ repo.path }}</td>
                        <td>{{ repo.size }}</td>
                        <td>
                            <i class="newbackup tool" title="{% trans 'Add new directory to snapshots' %}" data-url="{% url 'repository:newbackup' repo.id %}">
                                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-folder-plus" fill="green" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M9.828 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91H9v1H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181L15.546 8H14.54l.265-2.91A1 1 0 0 0 13.81 4H9.828zm-2.95-1.707L7.587 3H2.19c-.24 0-.47.042-.684.12L1.5 2.98a1 1 0 0 1 1-.98h3.672a1 1 0 0 1 .707.293z"/>
                                  <path fill-rule="evenodd" d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
                                </svg>
                            </i>
                            <a class="tool" href="{% url 'repository:update' repo.id %}" title="{% trans 'Update repository' %}">
                                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </a>
                            <a class="tool" href="{% url 'repository:chart' repo.id %}" title="{% trans 'Update repository' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"/>
                                </svg>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">{% trans "There are no repositories yet" %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 1rem;">
    <div class="col-12">
        <a class="btn btn-success" href="{% url 'repository:create' %}" role="button">
            <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </a>
    </div>
</div>

{% endblock %}
