.card {
    min-width: 120px;
    /*max-width: 150px;*/
    height: 135px;
    padding-top: 1.5rem;
    border: none;
}

.card:hover {
    border: 1px solid #cccccc;
    background-color: #eeeeee;
}

.action {
    position: absolute;
    bottom: 5px;
    display: none;
    background-color: white;
    border-radius: 50%;
    padding: 2px;
    height: 2em;
    width: 2em;
    border: 1px solid #cccccc;
}

.restore {
    left: 5px;
}

.download {
    right: 5px;
}

.restore, .download {
    cursor: pointer;
    color: gray;
}

.restore:hover, .download:hover {
    color: black;
}

.card:hover .restore,
.card:hover .download {
    display: block;
}